.ingredientsList {
	width: 100%;
	list-style: none; 
	text-align: center;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ingredientCard {
	position: relative;
	width: 50%;
}

.price {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.price div{
	padding-left: 5px;
	display: flex;
	align-items: center;
}

.counterStyle {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
