.modal {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;

	width: 720px;

	border-radius: var(--common-border-radius-s);

	background-color: var(--background);
	color: var(--text-primary-color);
}

.modalHeight540 {
	height: 540px;
 }
 
 .modalHeight720 {
	height: 720px;
 }
 

header {
	display: flex;
	flex-direction: row;
   align-items: center;
	justify-content: space-between;
}

.title {
	text-align: left;
}

.img {
	display: flex;
   align-items: center
}
