.wrapper {
	padding-top: 120px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainBox {
	width: 66%;
	max-height: 912px;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: left;
}

.links {
	width: 380px;
	line-height: 64px;
}

.inputs {
	text-align: right;
}

.inputs li {
	padding-bottom: 24px;
}

.buttonLogout {
	background-color: var(--background-alt);
	color: var(--text-inactive-color);
	line-height: 64px;
}