.burgerIngredients{
	box-sizing: border-box;
	width: 100%;
	max-height: 100%;	

	display: flex;
	flex-direction: column;
	flex: 1 1 50%;	
}

.headerIngredients {
	width: 100%;
	height: 40px;
}

.TabsBox {
	display: flex;
	flex-direction: row;
}

.ingredientsList {
	max-height: 756px;
	overflow-y: auto;
	overflow-x: hidden;
}



