nav {
	background-color: var(--background);
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.appHeader {
	width: 70%;
	height: 88px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.navBox {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navBox span {
	padding: 8px;
}

a {
	color: inherit;
	padding: 8px;
}

.icons {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--text-inactive-color);
}
.icons:hover{
	color: var(--text-primary-color);
}
.icons:hover svg{
	fill:	var(--text-primary-color);
}