header {
	width: 100vw;
}

nav {
	background-color: var(--background);
	width: 100%;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.appHeader {
	width: 1240px;
	height: 88px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

/* Адаптивные стили */
@media (max-width: 960px) {
	.appHeader {
		width: 100%; /* Занимает 100% ширины родителя при маленьких экранах */
		height: auto; 
		max-height: none; /* Убираем ограничение по высоте на маленьких экранах */
		flex-direction: column;
	}
}

.navBox {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: inherit;
	padding: 8px;
}

.icons {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--text-inactive-color);
}
.icons span {
	padding: 8px;
}
.icons:hover{
	color: var(--text-primary-color);
}
.icons:hover svg{
	fill:	var(--text-primary-color);
}